*{
    margin: 0;
    padding: 0;
}

.cabecalho{
  padding: 15px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aquamarine;
}


  .cartao{
    width: 260px;
    height: 200px;
  }

  .cartao-imagem{
    width: 100%;
  }

  body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: darkslategrey;
  }
  main{
    flex: 1;
  
  }
  .cabecalho-link{
    color: darkcyan;
    text-decoration: none;
  }
  h1{
    color: darkcyan;
    font-size: 18px;
  }
  .footer{
    background-color: aquamarine;
    padding: 15px 15px;
    color: black;
  }
  .cartao-interno{
    position:relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    
  }
  .cartao:hover .cartao-interno{
    transform: rotateY(180deg);
  }
  .cartao-frente,  .cartao-verso{
    position:absolute;
    border-radius: 12px;/*cantos arredondados*/
    box-shadow: 6 6px rgba(0, 0, 0, 0.15);/*colocar uma sombra ao redor do cartao*/
    backface-visibility: hidden;
  }
  .cartao-verso{
    transform: rotateY(180deg);/*rotaciona o cartao 180 grau no eixo Y */
  }